.App {
  /* text-align: center; */
}


.App-header {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  font-size: calc(5px + 2vmin);
  color: white !important;
}

.code {
  background-color: #f7f9fa;
  color: #546e7a;
  padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    font-family: monospace;
}
