.App {
  text-align: center;
}


.App-header {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  font-size: calc(5px + 2vmin);
  color: white !important;
}
